body{
	background-color: white;
	height:100%;
	width:100%;
	margin:0;
	padding:0;

	/*The base font-size and font-family*/
	font: 100% 'Roboto', sans-serif;
	overflow-x: hidden;
}
/*.portfolio figure {
	margin: 0;
}*/
.splash-body {
	overflow-y: hidden;
}

.responsive-media {
	/* Needed to avoid unnecessary white-space below images and videos in all browsers. */
	display: block;

	max-width: 100%;
	margin: 0 auto;
	position: relative;
	z-index: 2;
	cursor: pointer;
}

.vid {
	background-color: #eee;
}

.a {

/*display: none;*/
/*width: 200px;*/
   /*width: 100%;*/
/*height:auto;*/
/*background-color:white;*/
/*position:relative;*/
/*z-index: 10;*/

}

#container {
	/*position: relative;*/
	/*height:100%;*/
	/*width:100%;*/
	/*z-index: 10;*/
}

.fixed-container {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

#splashContainer {
	cursor: pointer;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 999;
	background-color: white;

	display: flex;
	align-items: center;
	justify-content: center;
}

#splashContainer .name {
	font-size: 80px;
	text-align: center;
}

#info{
	display: block;
	/*transition: width 2s;*/
	/*position:fixed;  */
   text-align: center;
	/*z-index: 10;*/
	/*transition: width 2s;*/
	/*left: calc(50% - 258.5px);
	top: 100px;*/
	/*font-family: 'Roboto', sans-serif;*/
	/*font-size: 75px;*/
	font-size: 1.3em;
	font-weight: normal;
	color: #242a2d;

	/* 1em is equal to this element's font-size. 1em of margins above and below the element, 0 to its left and right */
	margin: 1em 0;
}

@media (min-width: 992px) {
	#info {
		text-align: left;
		font-size: 40px;
		padding-left: 20px;
		margin: 0;
		padding-top: 20px;
	}

	#occupation-and-contact-info {
		/*display: none;*/
	}
}

.project-container {
	/*position: relative;*/
	margin: 0;
}

.description-wrapper {
	/*padding: 0.6em 0.8em;*/
}

.description{
	/*display: none;*/
	/*visibility: visible;*/
	/*position:fixed;*/
	/*z-index: 20;*/
	/*font-family: 'Roboto', sans-serif;*/
	font-size: 1.2em;
	/*padding: 0.6em 0.8em;*/
	padding: 0 0.8em;
	margin: 0;
	/*spacing in between lines of text*/
	line-height: 1.2;
	color: #242a2d;
	background-color: white;

	/*transition-property: color!important;
	transition-timing-function: linear!important;
	transition-duration: 2s!important;
	transition-delay: 1s!important;*/

	/*transition: padding 0s ease-out 0.4s;*/
}
.description:after, .description:before {
	content: "";
	display: block;
	height: 15px;
}

.description.hidden {
	transition-property: max-height;
	transition-timing-function: linear;
	transition-duration: 0.2s;

	/*transition-delay: 2s;*/

	max-height: 0;

	overflow: hidden;
	/*color: green;*/
}
.description.visible {
	/* hange this number to whatever your tallest description is. Too low and words will get cut off. Too high and the transition won't be smooth. */
	transition-property: max-height;
	transition-timing-function: linear;
	transition-duration: 0.4s;

	/*transition-delay: 2s;*/

	max-height: 250px;

	/*color: red;*/
	/*transition-property: color!important;*/
}
/*@media(min-width: 992px) {
	.description.hidden, .description.visible {*/
		/*transition-property: max-height, color;*/
		/*transition-delay: 0.5s;
	}
	.description.hidden {
		color: transparent;
	}

	.description.visible {*/
		/*transition-delay: 1s;*/
		/*color: red;
	}
}*/

.floating-projects {
	display: inline-block;
	/*position: fixed;*/
	position: absolute;
	/*position: relative;*/
	width: 20%;
}

.center-hover {
	z-index: 99;
	/*left: 0;*/
	/*transition-property: left!important;*/
	transition-property: left, width;
	/*transition: left, width!important;*/
	/*transition-property: none!important;*/
	transition-timing-function: ease-in-out;
	transition-duration: 0.29s;
	/*transition: left 0.2s linear!important;*/
	/*transition: width 0.33s linear;*/
	/*position: absolute;*/
	overflow-y: auto;
	overflow-y: hidden;
	/*transition-property: left, top;
	transition-timing-function: linear;
	transition-duration: 0.33s;*/
	/*left: 50vw;
	top: 50vh;*/
	/*top: 00px!important;*/
	/*left: 0!important;*/
	position: relative;
	width: 100%;
	margin: 0 auto;
	background-color: rgba(0, 0, 0, 0.1);
	padding: 45px 0;
	/*height: 40vh;*/
	cursor: pointer;
}

.center-hover .responsive-media, .center-hover .description {
	max-width: 50%;
	margin: 0 auto;
}

.center-hover .description {
	box-sizing: border-box;
}
